In [22]:
import numpy as np
import pandas as pd 
import seaborn
import matplotlib.pyplot as plt 
import matplotlib.dates as dates
%matplotlib inline

In [23]:
cols = ['Created_Date', 'Complaint_Type']
df = pd.read_csv('NYC.csv', parse_dates=['Created_Date'])
df.head()

,Created_Date,Complaint_Type,Borough,Location
0,2014-06-30,Building Conditions,BRONX,"(40.87016285040958, -73.88879970718)"
1,2014-06-30,Building Conditions,BROOKLYN,"(40.64314961982049, -73.95046073917715)"
2,2014-06-30,Building Conditions,BROOKLYN,"(40.64507250981882, -73.87864906383643)"
3,2014-06-30,Building Conditions,MANHATTAN,"(40.86334391631684, -73.92915076102932)"
4,2014-06-30,Building Conditions,BROOKLYN,"(40.64393283892149, -73.95273031361069)"

In [24]:
df2 = df

In [25]:
df.ix[df.Complaint_Type.isin(['General Request or Complaint']), 'Complaint_Type'] = 1
df.ix[df.Complaint_Type.isin(['Signal/Sign Repair']), 'Complaint_Type'] = 2
df.ix[df.Complaint_Type.isin(['Parking Enforcement']), 'Complaint_Type'] = 3
df.ix[df.Complaint_Type.isin(['Building Conditions']), 'Complaint_Type'] = 4
df.ix[df.Complaint_Type.isin(['Living Conditions']), 'Complaint_Type'] = 5
df.ix[df.Complaint_Type.isin(['Street/Sidewalk Maintenance']), 'Complaint_Type'] = 6

In [36]:
df_3 = df.set_index('Created_Date')

In [37]:
df_3 = pd.get_dummies(df_3.Complaint_Type)

In [39]:
df_3 = df_3.reset_index()

In [41]:
df_3 = df_3.groupby(df_3['Created_Date']).sum()

In [42]:
df_3.reset_index()

    Created_Date     1    2    3     4    5     6
0     2014-01-01   388  139  336  1512  155   303
1     2014-01-02   921  315  360  3236  263   320
2     2014-01-03   624  240  306  3712  235   516
3     2014-01-04   489  130  375  4347  154  1188
4     2014-01-05   500  206  361  2529  169  1022
5     2014-01-06   996  753  463  2621  433   923
6     2014-01-07  1234  912  361  6635  412   938
7     2014-01-08  1330  767  412  5989  384  1136
8     2014-01-09  1103  728  471  3876  414  1119
9     2014-01-10  1012  581  448  2774  329   654
10    2014-01-11   519  279  457  1495  251   457
11    2014-01-12   546  239  337  1595  218   662
12    2014-01-13  1077  677  472  1803  410  1026
13    2014-01-14  1150  718  481  1970  481   809
14    2014-01-15  1051  558  437  1964  478   924
15    2014-01-16  1116  492  496  2110  453   800
16    2014-01-17  1016  496  522  1894  398   913
17    2014-01-18   582  110  399  1438  231   337
18    2014-01-19   529  143  300  1804  209   326
19    2014-01-20   656  180  413  1832  341   488
20    2014-01-21  1130  641  315  3243  261   345
21    2014-01-22  1111  483  311  5039  244   717
22    2014-01-23  1112  586  445  5431  248  1396
23    2014-01-24  1197  526  447  4767  243   970
24    2014-01-25   611  164  437  3467  206   441
25    2014-01-26   622  131  366  2637  177   657
26    2014-01-27  1278  504  446  3203  342  1015
27    2014-01-28  1205  586  545  3659  366  1060
28    2014-01-29  1195  508  471  3414  308   854
29    2014-01-30  1152  568  545  3448  308  1080
..           ...   ...  ...  ...   ...  ...   ...
700   2015-12-02   839  432  824  2226  757   509
701   2015-12-03   845  614  855  2261  681   860
702   2015-12-04   836  415  860  2341  672   657
703   2015-12-05   738  163  749  1512  438   425
704   2015-12-06   585  109  743  1310  387   483
705   2015-12-07   805  558  899  2221  776   958
706   2015-12-08   800  516  778  2297  735   684
707   2015-12-09   824  559  796  2072  730   669
708   2015-12-10   783  647  878  1501  674   697
709   2015-12-11   723  462  875  1410  650   703
710   2015-12-12   838  184  822   833  411   630
711   2015-12-13   664  103  654   748  406   462
712   2015-12-14   800  558  919  1684  807   691
713   2015-12-15   781  503  930  1807  789   738
714   2015-12-16   737  538  835  2024  631   625
715   2015-12-17   724  600  849  1621  741   532
716   2015-12-18   746  515  755  1905  663   489
717   2015-12-19   604  123  686  2687  455   329
718   2015-12-20   527  129  678  1913  363   354
719   2015-12-21   673  725  880  2201  671   542
720   2015-12-22   693  461  847  1403  650   527
721   2015-12-23   641  476  715  1433  812   469
722   2015-12-24   437  384  802   936  469   499
723   2015-12-25   270   71  469   412  237   333
724   2015-12-26   401   71  591   828  313   304
725   2015-12-27   434  118  606   952  358   346
726   2015-12-28   710  423  788  2381  731   608
727   2015-12-29   708  534  776  2568  755   490
728   2015-12-30   757  483  744  2087  759   499
729   2015-12-31     1    0    0     0   60     0

[730 rows x 7 columns]

In [48]:
#df.index = df['Created_Date']

In [12]:
df = df.sort_index()

In [16]:
df.groupby(df['Created_Date'], axis=0).sum().head()

              Complaint_Type
Created_Date
2014-01-01             10315
2014-01-02             18810
2014-01-03             21141
2014-01-04             27160
2014-01-05             19088

In [17]:
pd.DataFrame.groupby??